############################### 这里填API Key，或者环境变量名（如：DEEPSEEK_API_KEY）######################################
DEEPSEEK_API_KEY=
GITHUB_API_KEY=
XIAOMI_MIMO_API_KEY=




########################################################################################################################

# 全局登录状态变量（前端本地存储键名）
PUBLIC_AUTH_STATE_STORAGE_KEY=LINGZHEN_AUTH_LOGGED_IN
PUBLIC_AUTH_USERNAME_STORAGE_KEY=LINGZHEN_AUTH_USERNAME
PUBLIC_AUTH_DEFAULT_LOGGED_IN=false
